<h1>Book List</h1>

<% time = Time.now %>
<%= time %>

<ul>
  <li><%= image_tag 'hp.jpeg' %> Harry Potter and the Philosopher's Stone by J.K. Rowling</li>
  <li>Harry Potter and the Chamber of Secrets by J.K. Rowling</li>
</ul>

<%= link_to 'Song List', songs_path %>
